* {
    margin: 0;
}

html, body {
    height: 100vh;
    width: 100%;
}

header {
    border-bottom: 2px solid #121a27;
}
#sidebar {
    width: 200px;
    height: 100vh;
}

.input {
    width: 150px;
}

#que {
    border-bottom: 2px solid#121a27;
}

#footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

#map { 
    height: 300px; 
    width: 50vw;
    margin-left: 20%;
}

.special {
    color: #72aef3;
}

@media screen and (max-width: 768px) {
    #sidebar {
        width: 100%;
        height: auto;
    }

    .location-input {
        display: inline-block;
        align-items: center;
        margin-left: 23%;
    }
}
@media screen and (max-width: 575px) {
    #sidebar {
        width: 100%;
        height: auto;
    }
    #footer {
        position:sticky;
    }

    .location-input {
        margin-left: 12%;
    }
}